<!DOCTYPE html>
  <head>
    <script src="jquery.js"></script>
    <script src="hammer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>  
    <meta name="viewport" content="initial-scale=1">
   </head>
  <body>
    <header>
    </header>
      <main><%= yield %></main>
    <footer>
    </footer>

    <script src= "thermostat.js"></script>
    <script src= "rainbow.js"></script>
    <script src= "intergration.js"></script>

  </body>
</html>  