<section>
  <artical></artical>
  <nav>
    <ul>
     <li><a href="#" class="decrease">-</a></li>
     <li><a href="#" class="increase">+</a></li>
     <li><a href="#" class="reset">reset</a></li>
    </ul>
  </nav>
</section>  
